In [2]:
import pandas as pd
import warnings
from arch import arch_model
from pmdarima.arima import auto_arima
import statsmodels.graphics.tsaplots as sgt
import matplotlib.pyplot as plt
import scipy.stats as stats
import numpy as np
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import mean_squared_error
warnings.filterwarnings('ignore')

In [3]:
stock_all = pd.read_csv('전체기간.csv',index_col = 0)
stock_rise = pd.read_csv('금리인상기간_대주주_정상성.csv',index_col = 0)
stock_rise1 = pd.read_csv('금리인상기간_대주주.csv',index_col=0)
stock_stop = pd.read_csv('동결기간_대주주.csv',index_col = 0)

In [4]:
def garch(df1,df2):
    arima_model = auto_arima(df1)
    p, d, q = arima_model.order

    n_splits = 5  # 분할 수 설정
    tscv = TimeSeriesSplit(n_splits=n_splits)

    if p == 0:
        p = 1
    # 교차 검증 수행
    mse_scores = []  # 각 교차 검증에서의 MSE를 저장할 리스트
    for train_index, test_index in tscv.split(df1):
        train_data, test_data = df1.iloc[train_index], df1.iloc[test_index]
        
        # GARCH 모델 적합
        model = arch_model(train_data, vol='GARCH' ,p = p ,q = q)
        result = model.fit(disp = 'off')
        
        # 예측 수행
        forecast = result.forecast(horizon=len(test_data))
        forecast_values = np.sqrt(forecast.variance.values[-1])  # GARCH 예측값
        
        mse = mean_squared_error(test_data, forecast_values)
        mse_scores.append(mse)
    
    # 교차 검증 결과 출력
    print("Mean Squared Error (MSE) for each fold:", mse_scores)
    print("Average MSE:", np.mean(mse_scores))
 
    forecast_volatility = result.forecast(horizon=1)
    last_volatility = forecast_volatility.mean.iloc[-1]
    correlation = np.corrcoef(df1, df2)[0, 1]
    beta = correlation * (last_volatility / df2.std())
    return beta[0]

In [5]:
c_name = ['SK리츠','롯데리츠','코람코라이프인프라리츠','신한서부티앤디리츠','코람코더원리츠']
p_name = ['SK㈜','롯데쇼핑','HD현대','서부티앤디','하나금융지주']

c_df = stock_all.loc[:,c_name]
p_df = stock_all.loc[:,p_name]
kospi = stock_all.iloc[:,0]
kosdaq = stock_all.iloc[:,1]

kospi_beta = []
for i in c_df:
    print(f'--{i}와 kospi beta 연산--')
    beta = garch(c_df[i],kospi)
    kospi_beta.append(beta)


kosdaq_beta = []
for i in c_df:
    print(f'--{i}와 kosdaq beta 연산--')
    beta = garch(c_df[i],kosdaq)
    kosdaq_beta.append(beta)

sponser_beta = []
for i in range(len(c_df.columns)):
    print(f'--{c_df.columns[i]}와 {p_df.columns[i]} 연산--')
    beta = garch(c_df.iloc[:,i],p_df.iloc[:,i])
    sponser_beta.append(beta)

--SK리츠와 kospi beta 연산--
Mean Squared Error (MSE) for each fold: [0.0005330117776755444, 0.0004337042894496009, 0.0002984297612210396, 0.0004171040415088466, 0.0002261288118053965]
Average MSE: 0.00038167573633208563
--롯데리츠와 kospi beta 연산--
Mean Squared Error (MSE) for each fold: [0.00044604833875404657, 0.00038573075003421955, 0.0002672352967027316, 0.0003353484537095232, 0.00021668077048511236]
Average MSE: 0.00033020872193712664
--코람코라이프인프라리츠와 kospi beta 연산--
Mean Squared Error (MSE) for each fold: [0.0002730477976474538, 0.00018165157289841478, 0.00012911990130106245, 0.00018866416672850718, 0.00016656898401973063]
Average MSE: 0.00018781048451903376
--신한서부티앤디리츠와 kospi beta 연산--
Mean Squared Error (MSE) for each fold: [0.0004991780319177319, 0.0004141416951209086, 0.00030711560048930493, 0.0003546103417102904, 0.00019339158076996636]
Average MSE: 0.00035368745000164043
--코람코더원리츠와 kospi beta 연산--
Mean Squared Error (MSE) for each fold: [0.000604181380120975, 0.00038199823609987157, 0.00026423972930775914, 0.00021049817545455506, 0.00017684337356186874]
Average MSE: 0.00032755217890900593
--SK리츠와 kosdaq beta 연산--
Mean Squared Error (MSE) for each fold: [0.0005330117776755444, 0.0004337042894496009, 0.0002984297612210396, 0.0004171040415088466, 0.0002261288118053965]
Average MSE: 0.00038167573633208563
--롯데리츠와 kosdaq beta 연산--
Mean Squared Error (MSE) for each fold: [0.00044604833875404657, 0.00038573075003421955, 0.0002672352967027316, 0.0003353484537095232, 0.00021668077048511236]
Average MSE: 0.00033020872193712664
--코람코라이프인프라리츠와 kosdaq beta 연산--
Mean Squared Error (MSE) for each fold: [0.0002730477976474538, 0.00018165157289841478, 0.00012911990130106245, 0.00018866416672850718, 0.00016656898401973063]
Average MSE: 0.00018781048451903376
--신한서부티앤디리츠와 kosdaq beta 연산--
Mean Squared Error (MSE) for each fold: [0.0004991780319177319, 0.0004141416951209086, 0.00030711560048930493, 0.0003546103417102904, 0.00019339158076996636]
Average MSE: 0.00035368745000164043
--코람코더원리츠와 kosdaq beta 연산--
Mean Squared Error (MSE) for each fold: [0.000604181380120975, 0.00038199823609987157, 0.00026423972930775914, 0.00021049817545455506, 0.00017684337356186874]
Average MSE: 0.00032755217890900593
--SK리츠와 SK㈜ 연산--
Mean Squared Error (MSE) for each fold: [0.0005330117776755444, 0.0004337042894496009, 0.0002984297612210396, 0.0004171040415088466, 0.0002261288118053965]
Average MSE: 0.00038167573633208563
--롯데리츠와 롯데쇼핑 연산--
Mean Squared Error (MSE) for each fold: [0.00044604833875404657, 0.00038573075003421955, 0.0002672352967027316, 0.0003353484537095232, 0.00021668077048511236]
Average MSE: 0.00033020872193712664
--코람코라이프인프라리츠와 HD현대 연산--
Mean Squared Error (MSE) for each fold: [0.0002730477976474538, 0.00018165157289841478, 0.00012911990130106245, 0.00018866416672850718, 0.00016656898401973063]
Average MSE: 0.00018781048451903376
--신한서부티앤디리츠와 서부티앤디 연산--
Mean Squared Error (MSE) for each fold: [0.0004991780319177319, 0.0004141416951209086, 0.00030711560048930493, 0.0003546103417102904, 0.00019339158076996636]
Average MSE: 0.00035368745000164043
--코람코더원리츠와 하나금융지주 연산--
Mean Squared Error (MSE) for each fold: [0.000604181380120975, 0.00038199823609987157, 0.00026423972930775914, 0.00021049817545455506, 0.00017684337356186874]
Average MSE: 0.00032755217890900593

In [6]:
c_df = stock_rise.loc[:,c_name]
p_df = stock_rise.loc[:,p_name]
kospi = stock_rise.iloc[:,0]
kosdaq = stock_rise.iloc[:,1]

kospi_beta1 = []
for i in c_df:
    print(f'--{i}와 kospi beta 연산--')
    beta = garch(c_df[i],kospi)
    kospi_beta1.append(beta)

kosdaq_beta1 = []
for i in c_df:
    print(f'--{i}와 kosdaq beta 연산--')
    beta = garch(c_df[i],kosdaq)
    kosdaq_beta1.append(beta)

sponser_beta1 = []
for i in range(len(c_df.columns)):
    print(f'--{c_df.columns[i]}와 {p_df.columns[i]} 연산--')
    beta = garch(c_df.iloc[:,i],p_df.iloc[:,i])
    sponser_beta1.append(beta)

--SK리츠와 kospi beta 연산--
Mean Squared Error (MSE) for each fold: [0.0004045240660249137, 0.0005811650558854222, 0.0008641827892520088, 0.0003323661155517926, 0.0005812654907815281]
Average MSE: 0.0005527007034991331
--롯데리츠와 kospi beta 연산--
Mean Squared Error (MSE) for each fold: [0.0001498441772478961, 0.00015441337657713704, 0.0009858632427674568, 0.00043302316702660434, 0.0003507840602834351]
Average MSE: 0.0004147856047805059
--코람코라이프인프라리츠와 kospi beta 연산--
Mean Squared Error (MSE) for each fold: [0.0004458117779819027, 0.0003704529835546031, 0.000544110634511254, 0.0006135563866037582, 0.0004821232056080132]
Average MSE: 0.0004912109976519064
--신한서부티앤디리츠와 kospi beta 연산--
Mean Squared Error (MSE) for each fold: [0.00028185441380925233, 0.00033840134733621437, 0.0009261513052523006, 0.0004777616448126921, 0.0004046099255835614]
Average MSE: 0.00048575572735880414
--코람코더원리츠와 kospi beta 연산--
Mean Squared Error (MSE) for each fold: [0.00029102610715562823, 0.00022821976453600503, 0.0016638099700354262, 0.0013780166129780886, 0.0005062266975434684]
Average MSE: 0.0008134598304497233
--SK리츠와 kosdaq beta 연산--
Mean Squared Error (MSE) for each fold: [0.0004045240660249137, 0.0005811650558854222, 0.0008641827892520088, 0.0003323661155517926, 0.0005812654907815281]
Average MSE: 0.0005527007034991331
--롯데리츠와 kosdaq beta 연산--
Mean Squared Error (MSE) for each fold: [0.0001498441772478961, 0.00015441337657713704, 0.0009858632427674568, 0.00043302316702660434, 0.0003507840602834351]
Average MSE: 0.0004147856047805059
--코람코라이프인프라리츠와 kosdaq beta 연산--
Mean Squared Error (MSE) for each fold: [0.0004458117779819027, 0.0003704529835546031, 0.000544110634511254, 0.0006135563866037582, 0.0004821232056080132]
Average MSE: 0.0004912109976519064
--신한서부티앤디리츠와 kosdaq beta 연산--
Mean Squared Error (MSE) for each fold: [0.00028185441380925233, 0.00033840134733621437, 0.0009261513052523006, 0.0004777616448126921, 0.0004046099255835614]
Average MSE: 0.00048575572735880414
--코람코더원리츠와 kosdaq beta 연산--
Mean Squared Error (MSE) for each fold: [0.00029102610715562823, 0.00022821976453600503, 0.0016638099700354262, 0.0013780166129780886, 0.0005062266975434684]
Average MSE: 0.0008134598304497233
--SK리츠와 SK㈜ 연산--
Mean Squared Error (MSE) for each fold: [0.0004045240660249137, 0.0005811650558854222, 0.0008641827892520088, 0.0003323661155517926, 0.0005812654907815281]
Average MSE: 0.0005527007034991331
--롯데리츠와 롯데쇼핑 연산--
Mean Squared Error (MSE) for each fold: [0.0001498441772478961, 0.00015441337657713704, 0.0009858632427674568, 0.00043302316702660434, 0.0003507840602834351]
Average MSE: 0.0004147856047805059
--코람코라이프인프라리츠와 HD현대 연산--
Mean Squared Error (MSE) for each fold: [0.0004458117779819027, 0.0003704529835546031, 0.000544110634511254, 0.0006135563866037582, 0.0004821232056080132]
Average MSE: 0.0004912109976519064
--신한서부티앤디리츠와 서부티앤디 연산--
Mean Squared Error (MSE) for each fold: [0.00028185441380925233, 0.00033840134733621437, 0.0009261513052523006, 0.0004777616448126921, 0.0004046099255835614]
Average MSE: 0.00048575572735880414
--코람코더원리츠와 하나금융지주 연산--
Mean Squared Error (MSE) for each fold: [0.00029102610715562823, 0.00022821976453600503, 0.0016638099700354262, 0.0013780166129780886, 0.0005062266975434684]
Average MSE: 0.0008134598304497233

In [7]:
c_df = stock_stop.loc[:,c_name]
p_df = stock_stop.loc[:,p_name]
kospi = stock_stop.iloc[:,0]
kosdaq = stock_stop.iloc[:,1]

kospi_beta2 = []
for i in c_df:
    print(f'--{i}와 kospi beta 연산--')
    beta = garch(c_df[i],kospi)
    kospi_beta2.append(beta)


kosdaq_beta2 = []
for i in c_df:
    print(f'--{i}와 kosdaq beta 연산--')
    beta = garch(c_df[i],kosdaq)
    kosdaq_beta2.append(beta)

sponser_beta2 = []
for i in range(len(c_df.columns)):
    print(f'--{c_df.columns[i]}와 {p_df.columns[i]} 연산--')
    beta = garch(c_df.iloc[:,i],p_df.iloc[:,i])
    sponser_beta2.append(beta)

--SK리츠와 kospi beta 연산--
Mean Squared Error (MSE) for each fold: [0.0004430986298873048, 0.00017706741939713073, 0.0001470149001363801, 0.00014616102469127486, 0.0002560831765476379]
Average MSE: 0.0002338850301319457
--롯데리츠와 kospi beta 연산--
Mean Squared Error (MSE) for each fold: [0.0002983341548285132, 0.00017660699575239856, 6.63835593329041e-05, 0.00018386272354763825, 0.00022172876562848084]
Average MSE: 0.000189383239817987
--코람코라이프인프라리츠와 kospi beta 연산--
Mean Squared Error (MSE) for each fold: [0.00016408876252723862, 9.512184864881488e-05, 6.179659085534416e-05, 9.079772992999608e-05, 0.00013616257897853512]
Average MSE: 0.00010959350218798578
--신한서부티앤디리츠와 kospi beta 연산--
Mean Squared Error (MSE) for each fold: [0.0003793059869293417, 0.0002912472644842053, 8.302400928284386e-05, 0.0001944336006694851, 0.0003756143776405593]
Average MSE: 0.00026472504780128707
--코람코더원리츠와 kospi beta 연산--
Mean Squared Error (MSE) for each fold: [0.0005038971560998761, 0.000271505222165964, 8.35440252250706e-05, 9.168775442615397e-05, 0.00012448376299661516]
Average MSE: 0.00021502358418273594
--SK리츠와 kosdaq beta 연산--
Mean Squared Error (MSE) for each fold: [0.0004430986298873048, 0.00017706741939713073, 0.0001470149001363801, 0.00014616102469127486, 0.0002560831765476379]
Average MSE: 0.0002338850301319457
--롯데리츠와 kosdaq beta 연산--
Mean Squared Error (MSE) for each fold: [0.0002983341548285132, 0.00017660699575239856, 6.63835593329041e-05, 0.00018386272354763825, 0.00022172876562848084]
Average MSE: 0.000189383239817987
--코람코라이프인프라리츠와 kosdaq beta 연산--
Mean Squared Error (MSE) for each fold: [0.00016408876252723862, 9.512184864881488e-05, 6.179659085534416e-05, 9.079772992999608e-05, 0.00013616257897853512]
Average MSE: 0.00010959350218798578
--신한서부티앤디리츠와 kosdaq beta 연산--
Mean Squared Error (MSE) for each fold: [0.0003793059869293417, 0.0002912472644842053, 8.302400928284386e-05, 0.0001944336006694851, 0.0003756143776405593]
Average MSE: 0.00026472504780128707
--코람코더원리츠와 kosdaq beta 연산--
Mean Squared Error (MSE) for each fold: [0.0005038971560998761, 0.000271505222165964, 8.35440252250706e-05, 9.168775442615397e-05, 0.00012448376299661516]
Average MSE: 0.00021502358418273594
--SK리츠와 SK㈜ 연산--
Mean Squared Error (MSE) for each fold: [0.0004430986298873048, 0.00017706741939713073, 0.0001470149001363801, 0.00014616102469127486, 0.0002560831765476379]
Average MSE: 0.0002338850301319457
--롯데리츠와 롯데쇼핑 연산--
Mean Squared Error (MSE) for each fold: [0.0002983341548285132, 0.00017660699575239856, 6.63835593329041e-05, 0.00018386272354763825, 0.00022172876562848084]
Average MSE: 0.000189383239817987
--코람코라이프인프라리츠와 HD현대 연산--
Mean Squared Error (MSE) for each fold: [0.00016408876252723862, 9.512184864881488e-05, 6.179659085534416e-05, 9.079772992999608e-05, 0.00013616257897853512]
Average MSE: 0.00010959350218798578
--신한서부티앤디리츠와 서부티앤디 연산--
Mean Squared Error (MSE) for each fold: [0.0003793059869293417, 0.0002912472644842053, 8.302400928284386e-05, 0.0001944336006694851, 0.0003756143776405593]
Average MSE: 0.00026472504780128707
--코람코더원리츠와 하나금융지주 연산--
Mean Squared Error (MSE) for each fold: [0.0005038971560998761, 0.000271505222165964, 8.35440252250706e-05, 9.168775442615397e-05, 0.00012448376299661516]
Average MSE: 0.00021502358418273594

In [8]:
df_all = pd.DataFrame()
df_all['전체_코스피'] = kospi_beta
df_all['전체_코스닥'] = kosdaq_beta
df_all['전체_대주주'] = sponser_beta
df_all.index = c_name
df_all

               전체_코스피    전체_코스닥    전체_대주주
SK리츠        -0.012440 -0.007946 -0.004710
롯데리츠        -0.019540 -0.012509 -0.006080
코람코라이프인프라리츠 -0.008936 -0.006018 -0.003366
신한서부티앤디리츠   -0.001770 -0.001152 -0.000734
코람코더원리츠      0.010192  0.006192  0.003706

In [9]:
df_rise = pd.DataFrame()
df_rise['금리상승기_코스피'] = kospi_beta1
df_rise['금리상승기_코스닥'] = kosdaq_beta1
df_rise['금리상승기_대주주'] = sponser_beta1
df_rise.index = c_name
df_rise

             금리상승기_코스피  금리상승기_코스닥  금리상승기_대주주
SK리츠         -0.025009  -0.017378  -0.009352
롯데리츠         -0.022686  -0.016508  -0.005718
코람코라이프인프라리츠   0.018581   0.011843   0.006046
신한서부티앤디리츠    -0.027621  -0.019457  -0.013514
코람코더원리츠      -0.007427  -0.005490  -0.001527

In [10]:
df_stop = pd.DataFrame()
df_stop['금리동결기_코스피'] = kospi_beta2
df_stop['금리동결기_코스닥'] = kosdaq_beta2
df_stop['금리동결기_대주주'] = sponser_beta2
df_stop.index = c_name
df_stop

             금리동결기_코스피  금리동결기_코스닥  금리동결기_대주주
SK리츠         -0.004025  -0.001536  -0.001848
롯데리츠         -0.010674  -0.004023  -0.004607
코람코라이프인프라리츠   0.006500   0.003364  -0.000362
신한서부티앤디리츠    -0.001596  -0.000848  -0.001176
코람코더원리츠       0.015537  -0.004211   0.009041

In [11]:
beta_df = pd.concat([df_all,df_rise,df_stop],axis=1)

In [12]:
beta_df

,전체_코스피,전체_코스닥,전체_대주주,금리상승기_코스피,금리상승기_코스닥,금리상승기_대주주,금리동결기_코스피,금리동결기_코스닥,금리동결기_대주주
SK리츠,-0.012440,-0.007946,-0.004710,-0.025009,-0.017378,-0.009352,-0.004025,-0.001536,-0.001848
롯데리츠,-0.019540,-0.012509,-0.006080,-0.022686,-0.016508,-0.005718,-0.010674,-0.004023,-0.004607
코람코라이프인프라리츠,-0.008936,-0.006018,-0.003366,0.018581,0.011843,0.006046,0.006500,0.003364,-0.000362
신한서부티앤디리츠,-0.001770,-0.001152,-0.000734,-0.027621,-0.019457,-0.013514,-0.001596,-0.000848,-0.001176
코람코더원리츠,0.010192,0.006192,0.003706,-0.007427,-0.005490,-0.001527,0.015537,-0.004211,0.009041

In [13]:
beta_df.to_csv('대주주_beta.csv')

In [432]:
mse_df = pd.DataFrame()

In [433]:
mse_df['전체'] = [0.0005, 0.0003,0.0002,0.0004,0.0003]
mse_df['금리상승기'] = [0.0005,0.0004,0.0004,0.0004,0.0008]
mse_df['금리동결기'] = [0.0002,0.0002,0.0001,0.0003,0.0001]

In [435]:
mse_df.index = c_name

In [437]:
mse_df.to_csv('garch_mse평가.csv')

In [1]:
import pandas as pd
pd.read_csv('garch_mse평가.csv',index_col=0)

                 전체   금리상승기   금리동결기
SK리츠         0.0005  0.0005  0.0002
롯데리츠         0.0003  0.0004  0.0002
코람코라이프인프라리츠  0.0002  0.0004  0.0001
신한서부티앤디리츠    0.0004  0.0004  0.0003
코람코더원리츠      0.0003  0.0008  0.0001