In [1]:
from arch import arch_model
import numpy as np
import pandas as pd
i

In [4]:
df = pd.read_csv('전체기간.csv',index_col = 0)
df.head()

,코스피,코스닥,SK㈜,롯데쇼핑,HD현대,서부티앤디,하나금융지주,SK리츠,롯데리츠,코람코라이프인프라리츠,신한서부티앤디리츠,코람코더원리츠
Date,,,,,,,,,,,,
2022-04-04,0.006588,0.007176,0.024845,0.014359,0.012963,0.004854,0.002066,0.006211,-0.005172,0.007764,0.009690,0.024263
2022-04-05,0.000471,0.005436,0.000000,-0.002022,0.009141,0.028986,-0.028866,-0.001543,-0.010399,0.009245,-0.003839,0.037225
2022-04-06,-0.008760,-0.009806,0.004040,-0.010132,-0.005435,-0.023474,0.007431,-0.010819,-0.012259,0.009160,0.015414,0.019576
2022-04-07,-0.014322,-0.016095,-0.010060,-0.021494,-0.007286,0.000000,-0.015806,0.006250,0.003546,0.019667,-0.001898,-0.011200
2022-04-08,0.001680,0.007306,0.008130,-0.011506,0.005505,0.004808,-0.007495,0.010870,0.014134,0.008902,0.020913,0.001618

In [15]:
df1 = df['SK㈜'] * 100
df2 = df['SK리츠'] * 100

In [37]:
data = pd.concat([df1,df2], axis = 1)

In [38]:
data

                 SK㈜      SK리츠
Date
2022-04-04  2.484471  0.621119
2022-04-05  0.000000 -0.154306
2022-04-06  0.404043 -1.081924
2022-04-07 -1.006032  0.624992
2022-04-08  0.812999  1.086955
...              ...       ...
2024-03-25 -1.725943  1.696970
2024-03-26  0.266102 -0.595948
2024-03-27 -1.698518 -0.599520
2024-03-28 -1.403883 -1.326900
2024-03-29 -0.279174  0.244499

[490 rows x 2 columns]

In [39]:
import pandas as pd
import numpy as np
from statsmodels.tsa.api import VAR
from statsmodels.tsa.stattools import adfuller

# 예시 데이터 생성
np.random.seed(0)


# 차분이 필요한 경우 수행
data_diff = data.diff().dropna()

# VAR 모델 학습 (차분된 데이터를 사용)
model = VAR(data_diff)

# 모델 적합
results = model.fit(maxlags=15, ic='aic')

# # 모델 요약 정보 출력
print(results.summary())

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Fri, 19, Apr, 2024
Time:                     11:30:53
--------------------------------------------------------------------
No. of Equations:         2.00000    BIC:                    2.85183
Nobs:                     474.000    HQIC:                   2.52160
Log likelihood:          -1830.04    FPE:                    10.0534
AIC:                      2.30753    Det(Omega_mle):         8.85698
--------------------------------------------------------------------
Results for equation SK㈜
===========================================================================
              coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------
const           -0.010690         0.092768           -0.115           0.908
L1.SK㈜          -0.891219         0.048261          -18.467           0.000
L1.SK리츠         -0.009010         0.064310           -0.140           0.889
L2.SK㈜          -0.796263         0.064553          -12.335           0.000
L2.SK리츠          0.080088         0.087300            0.917           0.359
L3.SK㈜          -0.683748         0.074771           -9.145           0.000
L3.SK리츠          0.035420         0.103131            0.343           0.731
L4.SK㈜          -0.652290         0.081223           -8.031           0.000
L4.SK리츠          0.012654         0.116513            0.109           0.914
L5.SK㈜          -0.561360         0.085820           -6.541           0.000
L5.SK리츠         -0.116284         0.125256           -0.928           0.353
L6.SK㈜          -0.579938         0.089214           -6.501           0.000
L6.SK리츠         -0.053041         0.132189           -0.401           0.688
L7.SK㈜          -0.498926         0.092338           -5.403           0.000
L7.SK리츠         -0.068804         0.136854           -0.503           0.615
L8.SK㈜          -0.485192         0.092753           -5.231           0.000
L8.SK리츠         -0.066768         0.140001           -0.477           0.633
L9.SK㈜          -0.325092         0.092292           -3.522           0.000
L9.SK리츠         -0.121787         0.137267           -0.887           0.375
L10.SK㈜         -0.276708         0.088989           -3.109           0.002
L10.SK리츠        -0.138216         0.133269           -1.037           0.300
L11.SK㈜         -0.329315         0.085609           -3.847           0.000
L11.SK리츠        -0.106462         0.126763           -0.840           0.401
L12.SK㈜         -0.276710         0.081382           -3.400           0.001
L12.SK리츠        -0.049006         0.118053           -0.415           0.678
L13.SK㈜         -0.135765         0.075387           -1.801           0.072
L13.SK리츠        -0.018715         0.104724           -0.179           0.858
L14.SK㈜         -0.075955         0.065539           -1.159           0.246
L14.SK리츠         0.090062         0.088306            1.020           0.308
L15.SK㈜         -0.052781         0.049201           -1.073           0.283
L15.SK리츠         0.019535         0.064566            0.303           0.762
===========================================================================

Results for equation SK리츠
===========================================================================
              coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------
const           -0.013855         0.069042           -0.201           0.841
L1.SK㈜           0.017572         0.035918            0.489           0.625
L1.SK리츠         -0.925129         0.047863          -19.329           0.000
L2.SK㈜          -0.021849         0.048044           -0.455           0.649
L2.SK리츠         -0.861275         0.064973          -13.256           0.000
L3.SK㈜           0.060066         0.055648            1.079           0.280
L3.SK리츠         -0.900574         0.076755          -11.733           0.000
L4.SK㈜           0.021406         0.060450            0.354           0.723
L4.SK리츠         -0.790994         0.086714           -9.122           0.000
L5.SK㈜           0.048177         0.063871            0.754           0.451
L5.SK리츠         -0.797654         0.093221           -8.557           0.000
L6.SK㈜           0.032021         0.066397            0.482           0.630
L6.SK리츠         -0.743543         0.098381           -7.558           0.000
L7.SK㈜           0.045297         0.068722            0.659           0.510
L7.SK리츠         -0.666984         0.101853           -6.549           0.000
L8.SK㈜           0.023306         0.069031            0.338           0.736
L8.SK리츠         -0.492549         0.104195           -4.727           0.000
L9.SK㈜          -0.022035         0.068688           -0.321           0.748
L9.SK리츠         -0.534192         0.102160           -5.229           0.000
L10.SK㈜          0.036507         0.066229            0.551           0.581
L10.SK리츠        -0.472790         0.099185           -4.767           0.000
L11.SK㈜         -0.033700         0.063714           -0.529           0.597
L11.SK리츠        -0.378592         0.094343           -4.013           0.000
L12.SK㈜          0.003073         0.060568            0.051           0.960
L12.SK리츠        -0.359735         0.087861           -4.094           0.000
L13.SK㈜          0.032862         0.056106            0.586           0.558
L13.SK리츠        -0.240742         0.077940           -3.089           0.002
L14.SK㈜         -0.008416         0.048777           -0.173           0.863
L14.SK리츠        -0.157236         0.065721           -2.392           0.017
L15.SK㈜         -0.066272         0.036617           -1.810           0.070
L15.SK리츠        -0.102956         0.048053           -2.143           0.032
===========================================================================

Correlation matrix of residuals
             SK㈜      SK리츠
SK㈜     1.000000  0.193622
SK리츠    0.193622  1.000000

C:\Users\geonh\AppData\Local\Programs\Python\Python311\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)

In [42]:
print(results.test_causality('SK리츠', ['SK㈜'], kind='f'))

<statsmodels.tsa.vector_ar.hypothesis_test_results.CausalityTestResults object. H_0: SK㈜ does not Granger-cause SK리츠: reject at 5% significance level. Test statistic: 1.716, critical value: 1.678>, p-value: 0.043>

In [44]:
data = pd.concat([df['롯데쇼핑'],df['롯데리츠']], axis = 1)

                롯데쇼핑      롯데리츠
Date
2022-04-04  0.014359 -0.005172
2022-04-05 -0.002022 -0.010399
2022-04-06 -0.010132 -0.012259
2022-04-07 -0.021494  0.003546
2022-04-08 -0.011506  0.014134
...              ...       ...
2024-03-25 -0.017520  0.000000
2024-03-26  0.012346  0.000000
2024-03-27 -0.004065 -0.010606
2024-03-28  0.001361 -0.006126
2024-03-29 -0.019022 -0.004622

[490 rows x 2 columns]

In [46]:
data_diff = data.diff().dropna()

# VAR 모델 학습 (차분된 데이터를 사용)
model = VAR(data_diff)

# 모델 적합
results = model.fit(maxlags=15, ic='aic')

# # 모델 요약 정보 출력
print(results.summary())

print(results.test_causality('롯데쇼핑', ['롯데리츠'], kind='f'))

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Fri, 19, Apr, 2024
Time:                     11:33:49
--------------------------------------------------------------------
No. of Equations:         2.00000    BIC:                   -16.2793
Nobs:                     480.000    HQIC:                  -16.4798
Log likelihood:           2662.14    FPE:                6.11704e-08
AIC:                     -16.6097    Det(Omega_mle):     5.66008e-08
--------------------------------------------------------------------
Results for equation 롯데쇼핑
==========================================================================
             coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------
const           0.000006         0.000895            0.006           0.995
L1.롯데쇼핑        -0.985106         0.047164          -20.887           0.000
L1.롯데리츠        -0.013453         0.074313           -0.181           0.856
L2.롯데쇼핑        -0.815444         0.066123          -12.332           0.000
L2.롯데리츠        -0.005396         0.094803           -0.057           0.955
L3.롯데쇼핑        -0.637463         0.076231           -8.362           0.000
L3.롯데리츠         0.016229         0.104953            0.155           0.877
L4.롯데쇼핑        -0.522054         0.080360           -6.496           0.000
L4.롯데리츠         0.057902         0.110030            0.526           0.599
L5.롯데쇼핑        -0.429670         0.081468           -5.274           0.000
L5.롯데리츠        -0.050700         0.112431           -0.451           0.652
L6.롯데쇼핑        -0.367112         0.080276           -4.573           0.000
L6.롯데리츠        -0.078415         0.109956           -0.713           0.476
L7.롯데쇼핑        -0.226367         0.076001           -2.978           0.003
L7.롯데리츠        -0.079256         0.104562           -0.758           0.448
L8.롯데쇼핑        -0.175447         0.065838           -2.665           0.008
L8.롯데리츠        -0.073235         0.094277           -0.777           0.437
L9.롯데쇼핑        -0.102503         0.046945           -2.183           0.029
L9.롯데리츠         0.042427         0.074281            0.571           0.568
==========================================================================

Results for equation 롯데리츠
==========================================================================
             coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------
const          -0.000101         0.000564           -0.178           0.858
L1.롯데쇼핑         0.030089         0.029731            1.012           0.312
L1.롯데리츠        -0.805091         0.046845          -17.186           0.000
L2.롯데쇼핑         0.056530         0.041682            1.356           0.175
L2.롯데리츠        -0.662115         0.059761          -11.079           0.000
L3.롯데쇼핑         0.064454         0.048054            1.341           0.180
L3.롯데리츠        -0.551576         0.066160           -8.337           0.000
L4.롯데쇼핑         0.044260         0.050657            0.874           0.382
L4.롯데리츠        -0.533314         0.069360           -7.689           0.000
L5.롯데쇼핑         0.082664         0.051356            1.610           0.107
L5.롯데리츠        -0.444801         0.070873           -6.276           0.000
L6.롯데쇼핑         0.051122         0.050604            1.010           0.312
L6.롯데리츠        -0.354432         0.069313           -5.113           0.000
L7.롯데쇼핑         0.054479         0.047909            1.137           0.255
L7.롯데리츠        -0.286912         0.065913           -4.353           0.000
L8.롯데쇼핑         0.045702         0.041502            1.101           0.271
L8.롯데리츠        -0.177135         0.059430           -2.981           0.003
L9.롯데쇼핑         0.037985         0.029593            1.284           0.199
L9.롯데리츠        -0.125821         0.046825           -2.687           0.007
==========================================================================

Correlation matrix of residuals
            롯데쇼핑      롯데리츠
롯데쇼핑    1.000000  0.193156
롯데리츠    0.193156  1.000000



<statsmodels.tsa.vector_ar.hypothesis_test_results.CausalityTestResults object. H_0: 롯데리츠 does not Granger-cause 롯데쇼핑: fail to reject at 5% significance level. Test statistic: 0.547, critical value: 1.890>, p-value: 0.840>

C:\Users\geonh\AppData\Local\Programs\Python\Python311\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)

In [54]:
from statsmodels.tsa.stattools import grangercausalitytests
test_result = grangercausalitytests(data, 5, verbose=True)

Granger Causality
number of lags (no zero) 1
ssr based F test:         F=0.0493  , p=0.8244  , df_denom=486, df_num=1
ssr based chi2 test:   chi2=0.0496  , p=0.8238  , df=1
likelihood ratio test: chi2=0.0496  , p=0.8238  , df=1
parameter F test:         F=0.0493  , p=0.8244  , df_denom=486, df_num=1

Granger Causality
number of lags (no zero) 2
ssr based F test:         F=0.0921  , p=0.9120  , df_denom=483, df_num=2
ssr based chi2 test:   chi2=0.1862  , p=0.9111  , df=2
likelihood ratio test: chi2=0.1862  , p=0.9111  , df=2
parameter F test:         F=0.0921  , p=0.9120  , df_denom=483, df_num=2

Granger Causality
number of lags (no zero) 3
ssr based F test:         F=0.0328  , p=0.9920  , df_denom=480, df_num=3
ssr based chi2 test:   chi2=0.0999  , p=0.9919  , df=3
likelihood ratio test: chi2=0.0999  , p=0.9919  , df=3
parameter F test:         F=0.0328  , p=0.9920  , df_denom=480, df_num=3

Granger Causality
number of lags (no zero) 4
ssr based F test:         F=0.0423  , p=0.9966  , df_denom=477, df_num=4
ssr based chi2 test:   chi2=0.1723  , p=0.9965  , df=4
likelihood ratio test: chi2=0.1723  , p=0.9965  , df=4
parameter F test:         F=0.0423  , p=0.9966  , df_denom=477, df_num=4

Granger Causality
number of lags (no zero) 5
ssr based F test:         F=0.5293  , p=0.7542  , df_denom=474, df_num=5
ssr based chi2 test:   chi2=2.7077  , p=0.7449  , df=5
likelihood ratio test: chi2=2.7002  , p=0.7461  , df=5
parameter F test:         F=0.5293  , p=0.7542  , df_denom=474, df_num=5

In [55]:
test_result

{1: ({'ssr_ftest': (0.04926057309289258, 0.8244481945404086, 486.0, 1),
   'ssr_chi2test': (0.0495646507045771, 0.8238225526052427, 1),
   'lrtest': (0.049562138957298885, 0.8238269433978966, 1),
   'params_ftest': (0.04926057309277206, 0.8244481945405978, 486.0, 1.0)},
  [<statsmodels.regression.linear_model.RegressionResultsWrapper at 0x1b494e84850>,
   <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x1b494e84590>,
   array([[0., 1., 0.]])]),
 2: ({'ssr_ftest': (0.092143286499693, 0.9119904937039528, 483.0, 2),
   'ssr_chi2test': (0.18619430149834446, 0.9111049814648509, 2),
   'lrtest': (0.18615878971354505, 0.9111211590904903, 2),
   'params_ftest': (0.09214328649974753, 0.9119904937039038, 483.0, 2.0)},
  [<statsmodels.regression.linear_model.RegressionResultsWrapper at 0x1b494e842d0>,
   <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x1b494e83c10>,
   array([[0., 0., 1., 0., 0.],
          [0., 0., 0., 1., 0.]])]),
 3: ({'ssr_ftest': (0.03281637310024987, 0.9920118762176048, 480.0, 3),
   'ssr_chi2test': (0.09988483562388552, 0.9918512403235669, 3),
   'lrtest': (0.09987459371814111, 0.9918524687266069, 3),
   'params_ftest': (0.03281637310019294, 0.9920118762176239, 480.0, 3.0)},
  [<statsmodels.regression.linear_model.RegressionResultsWrapper at 0x1b494e81dd0>,
   <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x1b494e83490>,
   array([[0., 0., 0., 1., 0., 0., 0.],
          [0., 0., 0., 0., 1., 0., 0.],
          [0., 0., 0., 0., 0., 1., 0.]])]),
 4: ({'ssr_ftest': (0.042279231014288966, 0.9966076153409928, 477.0, 4),
   'ssr_chi2test': (0.17230780941672486, 0.9964951800751346, 4),
   'lrtest': (0.17227727138629234, 0.9964963868733435, 4),
   'params_ftest': (0.042279231014279016, 0.996607615340995, 477.0, 4.0)},
  [<statsmodels.regression.linear_model.RegressionResultsWrapper at 0x1b494e82a50>,
   <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x1b494e82d90>,
   array([[0., 0., 0., 0., 1., 0., 0., 0., 0.],
          [0., 0., 0., 0., 0., 1., 0., 0., 0.],
          [0., 0., 0., 0., 0., 0., 1., 0., 0.],
          [0., 0., 0., 0., 0., 0., 0., 1., 0.]])]),
 5: ({'ssr_ftest': (0.529257344762953, 0.7541715864497863, 474.0, 5),
   'ssr_chi2test': (2.707698441034095, 0.7449407455680099, 5),
   'lrtest': (2.7001680731600572, 0.7460927313028602, 5),
   'params_ftest': (0.5292573447629678, 0.7541715864497702, 474.0, 5.0)},
  [<statsmodels.regression.linear_model.RegressionResultsWrapper at 0x1b494e72890>,
   <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x1b494e70d10>,
   array([[0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
          [0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
          [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
          [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
          [0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.]])])}

In [2]:
data

NameError: name 'data' is not defined