In [1]:
import datetime
import numpy as np
import pandas as pd
import yfinance as yf
import warnings
from scipy.stats import pearsonr
warnings.filterwarnings('ignore')

In [2]:
def day_price_ret(ticker_symbol,s_date,e_date):
    stock_symbol = ticker_symbol

    stock_data = yf.download(stock_symbol, start=s_date, end=e_date)
    stock_data = stock_data.set_index(pd.to_datetime(stock_data.index))

    weekly_returns = stock_data['Adj Close'].pct_change().dropna()

    return pd.DataFrame(weekly_returns)

In [11]:
stock_list = ['^KS11','^KQ11','034730.ks' , '023530.ks','267250.ks','006730.kq','086790.ks','395400.ks','330590.ks','357120.ks','404990.ks','417310.ks']
s_date = datetime.datetime(2022,4,1)
e_date = datetime.datetime(2024,4,1)

In [12]:
d_ret_df = pd.DataFrame()
for i in stock_list:
    price = day_price_ret(i,s_date,e_date)
    d_ret_df = pd.concat([d_ret_df,p rice],axis = 1)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [13]:
d_ret_df.columns =['코스피','코스닥','SK㈜','롯데쇼핑','HD현대','서부티앤디','하나금융지주','SK리츠','롯데리츠','코람코라이프인프라리츠','신한서부티앤디리츠','코람코더원리츠']

In [15]:
d_ret_df = d_ret_df.describe()

In [16]:
d_ret_df.loc[['mean','std','min','50%','max'],['코스피','코스닥','SK㈜','SK리츠','롯데쇼핑','롯데리츠','HD현대','코람코라이프인프라리츠','서부티앤디','신한서부티앤디리츠','하나금융지주','코람코더원리츠']]

,코스피,코스닥,SK㈜,SK리츠,롯데쇼핑,롯데리츠,HD현대,코람코라이프인프라리츠,서부티앤디,신한서부티앤디리츠,하나금융지주,코람코더원리츠
mean,0.000061,0.000037,-0.000319,-0.000500,-0.000268,-0.000868,0.000999,-0.000228,-0.000167,-0.000046,0.000865,0.000003
std,0.010555,0.015172,0.019395,0.014808,0.018518,0.012079,0.017070,0.010763,0.021532,0.014016,0.020058,0.012067
min,-0.035194,-0.050716,-0.067647,-0.063253,-0.076582,-0.058387,-0.056569,-0.049419,-0.077095,-0.061497,-0.059423,-0.056452
50%,0.000263,0.000507,-0.000704,0.000000,-0.001215,0.000000,0.000000,0.000000,-0.001349,0.000000,0.000000,0.000000
max,0.056592,0.073397,0.099251,0.079872,0.086183,0.049383,0.064371,0.036972,0.121554,0.071082,0.087866,0.057214

In [17]:
d_ret_df.to_csv('대주주_기초통계량.csv')